* {
  color: white;
  user-select: none;
}

.hidden-sidenav {
  display: none;
}

.active-link {
  border-radius: 5px;
  background-color: rgb(35, 33, 39);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  font-size: 20px;
  margin-left: 8px;

  img {
    height: 30px;
    width: 30px;
    animation: spin 8s infinite;
  }

  span {
    font-family: "os-ebold";
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.mat-drawer-side {
  border-right: 1px solid rgb(87, 87, 87);
}

.mat-drawer {
  top: 64px;
  width: 300px;
  background-color: var(--bg-color-side-nav);
}

.mat-drawer-container {
  position: unset;
}

.mat-drawer-content {
  background-color: rgb(25, 27, 30);
  overflow: hidden;
}

.server-name {
  display: flex;
  position: sticky;
  top: 0;
  padding: 8px 10px;
  height: 61px;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(87, 87, 87);
  background-color: var(--bg-color-side-nav);
}

p,
span,
h1,
h2,
h3,
h4 {
  margin: 0 !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.nav-scroll-container {
  height: calc(100% - 61px);
  overflow-y: auto;
}

.navigation {
  div:first-of-type {
    margin-top: 8px;
  }

  div:last-of-type {
    margin-bottom: 8px;
  }
}

.nav-hl {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 8px;
  padding: 5px 12px;
  font-size: 16px;

  cursor: pointer;

  p {
    margin: 0 !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  @media (hover: hover) {
    &:hover:not(.activeLink) {
      border-radius: 5px;
      background-color: rgb(35, 33, 39);
    }
  }
}

.new-msg-btn {
  height: 35px;
  width: 35px;
  margin-left: auto;
  background-color: white;
  &:active {
    transform: scale(0.9);
    filter: brightness(0.9);
  }
}

@media screen and (max-width: 620px) {
  mat-drawer {
    width: 100% !important;
    max-width: unset !important;
    border-right: unset !important;
  }
}

.channel-container {
  border-top: 1px solid rgb(87, 87, 87);
  cursor: pointer;
}

.channel {
  gap: 8px;
}

.channelitem {
  margin: 0 8px;
  padding: 5px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;

  @media (hover: hover) {
    &:hover:not(.activeLink) {
      border-radius: 5px;
      background-color: rgb(35, 33, 39);
    }
  }
  p {
    margin: 0 !important;
  }
}

.channel-hl {
  gap: 8px;
  padding: 12px 5px 5px 20px;
  font-size: 16px;
}

.add-item {
  padding: 2px;
  background-color: rgb(83, 83, 83);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.flex-ac {
  display: flex;
  align-items: center;

  p {
    margin: 0 !important;
  }
}

.rotate90 {
  transform: rotate(-90deg);
}

.direct-msg-hl {
  gap: 8px;
  padding: 12px 5px 5px 20px;
  font-size: 16px;
  cursor: pointer;

  p {
    margin: 0 !important;
  }
}

.channelitem {
  margin: 0 8px;
  padding: 5px 12px;
  cursor: pointer;

  @media (hover: hover) {
    &:hover:not(.activeLink) {
      border-radius: 5px;
      background-color: rgb(35, 33, 39);
    }
  }
}

.add-item {
  padding: 2px;
  background-color: rgb(83, 83, 83);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.flex-ac {
  display: flex;
  align-items: center;
  margin: 0 8px;
  padding: 5px 12px;
  cursor: pointer;

  p {
    margin: 0 !important;
  }
}

.user-direct-msg {
  gap: 8px;
  font-size: 14px;
  cursor: pointer;

  @media (hover: hover) {
    &:hover:not(.activeLink) {
      border-radius: 5px;
      background-color: rgb(35, 33, 39);
    }
  }

  img {
    height: 24px;
    width: 24px;
    object-fit: cover;
    border-radius: 5px;
  }
}
