<mat-drawer-container class="resizable" [ngClass]="{'hidden-sidenav': sidenavService.isLeftSidenavHidden}">
  <mat-drawer mode="side" opened>
    <div class="server-name">
      <div class="logo">
        <span>Slacky</span>
        <button class="new-msg-btn" mat-mini-fab>
          <mat-icon [ngStyle]="{ color: 'black' }">edit_note</mat-icon>
        </button>
      </div>
    </div>
    <div class="nav-scroll-container">
      <div class="navigation">
        <div class="nav-hl flex-ac">
          <mat-icon font-icon>comment</mat-icon>
          <p>Threads</p>
        </div>
        <div class="nav-hl flex-ac">
          <mat-icon font-icon>supervisor_account</mat-icon>
          <p>Users</p>
        </div>
      </div>

      <!-- Channels -->
      <div class="channel-container">
        <div (click)="toggleChannelsDropdown()" class="channel-hl flex-ac">
          <mat-icon [ngClass]="{ rotate90: !channelsCollapsed }" style="transition: all 125ms ease-in-out"
            fontIcon="arrow_drop_down"></mat-icon>
          <p>Channels</p>
        </div>

        <div *ngIf="!channelsCollapsed" class="channel-dropdown-menu">

          <div *ngFor="let channel of allChannels" class="flex-ac channel">
            <mat-icon>numbers</mat-icon>
            <p [routerLink]="'channel/' + channel.channelId">{{ channel.name }}</p>
          </div>

          <div (click)="openDialog()" class="channelitem channel flex-ac">
            <mat-icon class="add-item" fontIcon="add"></mat-icon>
            <p>Create new channel</p>
          </div>
        </div>
      </div>

      <app-direct-messages-section></app-direct-messages-section>

    </div>
  </mat-drawer>
</mat-drawer-container>
