<mat-drawer-container [ngClass]="{'hidden-sidenav': !sidenavOpen}">
  <mat-drawer mode="side" opened>
    <div class="server-name">
      <div class="logo">
        <img src="../../assets/img/logo.png" />
        <span>Slacky</span>
      </div>
    </div>
    <div class="nav-scroll-container">
      <div class="navigation">
        <!-- Threads -->
        <div class="nav-hl flex-ac" [routerLink]="'channel-threads/'" (click)="toggleSidenav()" routerLinkActive="active-link">
          <mat-icon font-icon>comment</mat-icon>
          <p>Threads</p>
        </div>
        <!-- Users -->
        <div class="nav-hl flex-ac" [routerLink]="'channel-users/'" (click)="toggleSidenav()" routerLinkActive="active-link">
          <mat-icon font-icon>supervisor_account</mat-icon>
          <p>Users</p>
        </div>
      </div>

      <!-- Channels -->
      <div class="channel-container">
        <div (click)="toggleChannelsDropdown()" class="channel-hl flex-ac">
          <mat-icon [ngClass]="{ rotate90: channelsCollapsed }" style="transition: all 125ms ease-in-out"
            fontIcon="arrow_drop_down"></mat-icon>
          <p>Channels</p>
        </div>

        <div *ngIf="!channelsCollapsed" class="channel-dropdown-menu">

          <div *ngFor="let channel of allChannels$ | async" class="flex-ac channel" [routerLink]="'channel/' + channel.channelId" (click)="toggleSidenav()" routerLinkActive="active-link">
            <mat-icon>numbers</mat-icon>
            <p>{{ channel.name }}</p>
          </div>

          <div (click)="openDialog()" class="channelitem channel flex-ac">
            <mat-icon class="add-item" fontIcon="add"></mat-icon>
            <p>Create new channel</p>
          </div>
        </div>
      </div>

      <app-direct-messages-section></app-direct-messages-section>

    </div>
  </mat-drawer>
</mat-drawer-container>
