<div class="wrapper">
  <div class="logo">
    <img src="../../assets/img/logo.png" />
    <span>Slacky</span>
  </div>
  <div class="container">
    <div class="headline">
      <h1>Reset your password</h1>
    </div>
    <form>
      <mat-form-field>
        <mat-label>Your Email</mat-label>
        <input matInput type="email" />
        <mat-error>Email is required</mat-error>
        <mat-error>Email is invalid</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary">Reset</button>
    </form>
    <div class="go-back">
      <button [routerLink]="'/'" mat-icon-button class="btn-back">
        <mat-icon>arrow_back</mat-icon>
      </button>
    </div>
  </div>
</div>
