.wrapper {
  background: linear-gradient(#222, #101010);
  height: 100svh;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0 0 20px;
  img {
    height: 50px;
    animation: spin 8s infinite;
  }
  span {
    font-size: 2rem;
    font-family: "os-ebold";
  }
}

.container {
  position: absolute;
  top: 0;
  height: 100svh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
    h1 {
      text-align: center;
      font-family: "os-light";
      margin-bottom: 15px;
    }
  }
  form {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
  }
  .go-back {
    width: 350px;
    display: flex;
    justify-content: flex-end;
  }
  .btn-back {
    margin-top: 20px;
  }
}

@media (width < 350px) {
  .go-back {
    width: 100% !important;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
