<mat-drawer-container class="mat-drawer-container" autosize>
  <app-toolbar></app-toolbar>
  <div class="row">

    <!-- Sidenav -->
    <app-sidenav></app-sidenav>

    <!-- Children Router Outlet for Channels & Chats -->
    <!-- Dynamische Klasse d-none wird vergeben, wenn sidenav offen und mobile width < 768px ist -->
    <!-- Damit soll in mobile entweder nur das Sidenav oder nur der Channel angezeigt werden -->
    <div class="router-container" [ngClass]="{'d-none': leftSidenavOpen && width < 768}">
      <router-outlet></router-outlet>
    </div>
  </div>
  <app-dialog-user></app-dialog-user>

</mat-drawer-container>
