<mat-dialog-content>
  <div class="toolbar-edit-container">
    <h2>Edit your profile</h2>
    <button mat-icon-button class="pin-right-upper-corner">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <div class="toolbar-edit-content">
    <div>
      <div>Full name {{ user.fullName }}</div>
      <div>Display name {{ user.displayName }}</div>
      <div>Email {{ user.email }}</div>
      <div>Phone {{ user.phone }}</div>
    </div>
    <img class="profile-pic" src="assets/img/profile.png">
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button mat-dialog-close>Save changes</button>
</mat-dialog-actions>
