<mat-drawer-container [class.d-none]="!userDialogOpen" *ngIf="user">
  <mat-drawer mode="side" opened class="profile-container">
    <div class="profile-title-container b-bottom">
      <div class="profile-title">
        <span>Profile</span>
      </div>
      <button mat-stroked-button color="primary" (click)="closeDialog()">Close</button>
    </div>
    <div class="nav-scroll-container">
      <div class="navigation">
        <div class="nav-hl flex-ac space-between"></div>
        <!-- Profile Picture -->
        <div class="profile-pic-container">
          <img matTooltip="Edit picture" (click)="editPictureDetail()" [src]="user.profilePicture || 'assets/img/profile.png'">
        </div>
        <!-- Chat Info -->
        <div class="m-bottom b-bottom">
          <div class="nav-hl flex-ac">
            <mat-icon font-icon>person</mat-icon>
            <p>Alias:</p>
            <ng-container *ngIf="user.displayName; else noDisplayName">{{ user.displayName }}</ng-container>
            <ng-template #noDisplayName>n/a</ng-template>
          </div>
          <div class="nav-hl flex-ac">
            <mat-icon font-icon>work</mat-icon>
            <p>Title:</p>
            <ng-container *ngIf="user.title; else noTitle">{{ user.title }}</ng-container>
            <ng-template #noTitle>n/a</ng-template>
          </div>
          <div class="nav-hl flex-ac">
            <mat-icon font-icon>language</mat-icon>
            <p>Timezone:</p>
            <ng-container *ngIf="user.timezone; else noTimezone">{{ user.timezone }}</ng-container>
            <ng-template #noTimezone>n/a</ng-template>
          </div>
        </div>
        <!-- Contact Info -->
        <div class="nav-hl flex-ac space-between"></div>
        <div class="nav-hl flex-ac">
          <mat-icon font-icon>verified_user</mat-icon>
          <p>Name:</p>
          <ng-container *ngIf="user.fullName; else noFullName">{{ user.fullName }}</ng-container>
          <ng-template #noFullName>n/a</ng-template>
        </div>
        <div class="nav-hl flex-ac">
          <mat-icon font-icon>email</mat-icon>
          <p>Email:</p>
          <ng-container *ngIf="user.email; else noEmail">{{ user.email }}</ng-container>
          <ng-template #noEmail>n/a</ng-template>
        </div>
        <div class="nav-hl flex-ac">
          <mat-icon font-icon>phone</mat-icon>
          <p>Phone:</p>
          <ng-container *ngIf="user.phone; else noPhone">{{ user.phone }}</ng-container>
          <ng-template #noPhone>n/a</ng-template>
        </div>
        <div class="btn-container">
          <button mat-stroked-button color="primary" (click)="closeDialog()">Cancel</button>
          <button mat-flat-button color="primary" (click)="openDialogUserEdit()">Edit</button>
        </div>
      </div>
    </div>
  </mat-drawer>
</mat-drawer-container>
