<mat-card class="example-card">
  <mat-card-header align="start">
    <mat-card-title>PROFILE</mat-card-title>
    <div class="profile-pic-container">
      <img [src]="user.profile || 'assets/img/profile.png'">
    </div>
    <mat-card-subtitle class="title-container">
      PROFILE PIC
      <button class="edit-btn" mat-mini-fab
        (click)="openDialogUserEdit()">
        <mat-icon [ngStyle]="{ color: 'black' }">edit</mat-icon>
      </button>
    </mat-card-subtitle>
  </mat-card-header>
  <!-- Profile - USER NAME -->
  <mat-card>
    <mat-card-content>
      <mat-card-subtitle class="title-container">
        USER INFO
      </mat-card-subtitle>
      <button class="edit-btn" mat-mini-fab
        (click)="openDialogUserEdit()">
        <mat-icon [ngStyle]="{ color: 'black' }">edit</mat-icon>
      </button>
    </mat-card-content>
    <mat-card-content>
      <div class="user-details">
        <mat-icon>verified_user</mat-icon>
        <mat-card-subtitle>NAME</mat-card-subtitle>
      </div>
      <ng-container *ngIf="user.fullName; else noFullName">Email: {{ user.fullName }}</ng-container>
      <ng-template #noFullName>Add your name</ng-template>
    </mat-card-content>
  <!-- Profile - DISPLAY NAME -->
    <mat-card-content>
      <div class="user-details">
        <mat-icon>person</mat-icon>
        <mat-card-subtitle>ALIAS</mat-card-subtitle>
      </div>
      <ng-container *ngIf="user.displayName; else noDisplayName">Email: {{ user.displayName }}</ng-container>
      <ng-template #noDisplayName>Add a display name</ng-template>
    </mat-card-content>
  <!-- Profile - EMAIL -->
    <mat-card-content>
      <div class="user-details">
        <mat-icon>email</mat-icon>
        <mat-card-subtitle>EMAIL</mat-card-subtitle>
      </div>
      <ng-container *ngIf="user.email; else noEmail">Email: {{ user.email }}</ng-container>
      <ng-template #noEmail>Add your email</ng-template>
    </mat-card-content>
  <!-- Profile - PHONE -->
    <mat-card-content>
      <div class="user-details">
        <mat-icon>phone</mat-icon>
        <mat-card-subtitle>PHONE</mat-card-subtitle>
      </div>
      <ng-container *ngIf="user.phone; else noPhone">Email: {{ user.phone }}</ng-container>
      <ng-template #noPhone>Add a phone number</ng-template>
    </mat-card-content>  </mat-card>
  <!-- Profile - ACTION BUTTONS -->
  <mat-card-actions align="end">
    <button mat-button mat-dialog-close>CLOSE</button>
  </mat-card-actions>
</mat-card>
