* {
  color: white;
  user-select: none;
}

.d-none {
  display: none;
}

.profile-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  font-size: 20px;

  img {
    height: 30px;
    width: 30px;
  }

  span {
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.profile-subtitle {
  font-size: 18px;
}

.mat-drawer-side {
  border-left: 1px solid rgb(87, 87, 87);
}

.mat-drawer {
  top: 64px;
  min-width: 280px;
  max-width: 300px;
  background-color: var(--bg-color-side-nav);
}

.mat-drawer-container {
  position: unset;
  background-color: green;
}

.mat-drawer-content {
  background-color: rgb(25, 27, 30);
  overflow: hidden;
}

.profile-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 8px 10px;
  height: 61px;
  box-sizing: border-box;
  background-color: var(--bg-color-side-nav);
}

.b-bottom {
  border-bottom: 1px solid rgb(87, 87, 87);
}

.m-bottom {
  margin-bottom: 10px;
}

p,
span,
h1,
h2,
h3,
h4 {
  margin: 0 !important;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.nav-scroll-container {
  height: calc(100% - 61px);
  overflow-y: auto;
}

.navigation {
  div:first-of-type {
    margin-top: 8px;
  }

  div:last-of-type {
    margin-bottom: 8px;
  }
}

.nav-hl {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0 8px;
  padding: 5px 12px;
  font-size: 16px;

  p {
    margin: 0 !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 16px;
  margin-top: 32px;
}

@media screen and (max-width: 620px) {
  mat-drawer {
    width: 100% !important;
    max-width: unset !important;
    border-right: unset !important;
  }
}

.profile-pic-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;

  img {
    height: 200px;
    width: 200px;
    cursor: pointer;
    border: 1px solid rgb(87, 87, 87);
    border-radius: 50px;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

.edit-btn {
  color: #2196F3;
  cursor: pointer;
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.1);
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.profile-container {
  position: absolute;
  right: 0;
  top: 64px;
  background-color: rgb(61, 61, 61);
  height: calc(100vh - 64px);
}
