* {
  user-select: none;
}

.channel-container {
  border-top: 1px solid rgb(87, 87, 87);
  cursor: pointer;
}

.channel {
  gap: 8px;
}

.channelitem {
  margin: 0 8px;
  padding: 5px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;

  @media (hover: hover) {
    &:hover:not(.activeLink) {
      border-radius: 5px;
      background-color: rgb(35, 33, 39);
    }
  }
  p {
    margin: 0 !important;
  }
}

.channel-hl {
  gap: 8px;
  padding: 12px 5px 5px 20px;
  font-size: 16px;
}

.add-item {
  padding: 2px;
  background-color: rgb(83, 83, 83);
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}
.flex-ac {
  display: flex;
  align-items: center;

  p {
    margin: 0 !important;
  }
}

.rotate90 {
  transform: rotate(-90deg);
}
