<div class="channel-container">
    <div (click)="toggleDropdown()" class="channel-hl flex-ac">
      <mat-icon
      [ngClass]="{'rotate90': !collapsed}"
      style="transition: all 125ms ease-in-out"
      fontIcon="arrow_drop_down"
      ></mat-icon>
      <p>Channels</p>
    </div>
  
    <div *ngIf="!collapsed" class="channel-dropdown-menu">
      <app-channel-item></app-channel-item>
      <div (click)="openDialog()" class="channelitem channel flex-ac">
        <mat-icon class="add-item" fontIcon="add"></mat-icon>
        <p>Create new channel</p>
      </div>
    </div>
  </div>
