a {
    color: #fff;
  }
  
  .container {
    width: 100%;
    height: 85vh;
  }
  
  .chat-partners {
    display: flex;
    align-items: center;
    height: 61px;
    gap: 8px;
    padding: 8px 16px;
    font-size: 20px;
    border-bottom: 1px solid rgb(87, 87, 87);
  }
  
  .chat-window {
    display: flex;
    padding: 16px;
    &:hover {
      background-color: #252525;
    }
  }
  
  .chat-box {
    display: flex;
    flex-direction: column;
    gap: 4px;
    // .answers {
    //   padding-left: 66px;
    //   span {
    //     color: rgb(132, 185, 255);
    //     cursor: pointer;
    //     &:hover {
    //       text-decoration: underline;
    //       filter: brightness(1.2);
    //     }
    //   }
    // }
  }

  .message-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1rem;
    background: #303030;
    border-top: 1px solid rgb(87, 87, 87);
    padding: 8px 10px;
    width: 100%;
    height: fit-content;

    .button-send {
        background-color: transparent;
        border: unset;
        color: white;
        margin-right: 0.5rem;
        cursor: pointer;
        z-index: 2;
    }

    .message-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .hint {
            margin-left: 0.5rem;
            font-size: 10px;
            color: rgb(165, 165, 165);
        }
    }

}
  
  .msg-box {
    display: flex;
    align-items: center;
    gap: 16px;
    .profileImg {
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 50px;
        height: 50px;
        // width: fit-content;
        border-radius: 50%;}
    }
  
    .msg-infos {
      display: flex;
      flex-direction: column;
      gap: 8px;
      .head {
        display: flex;
        align-items: baseline;
        gap: 12px;
        span {
          &:nth-child(1) {
            font-size: 16px;
          }
          &:nth-child(2) {
            color: #999;
            font-size: 12px;
          }
        }
      }
    }
  }
  
  .txt-editor {
    height: 200px;
    position: absolute;
    bottom: 0;
    padding: 16px;
  }

  // LOADING SPINNER

  .load-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }

  .lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  