.wrapper {
  background: linear-gradient(#222, #101010);
  height: 100svh;
}

button {
  height: 50px !important;
}

.line {
  border-bottom: 1px solid #fff;
  transform: translateY(-12px);
  width: 80%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0 0 20px;
  img {
    height: 50px;
    animation: spin 8s infinite;
  }
  span {
    font-size: 2rem;
    font-family: 'os-ebold';
  }
}

.login-container {
  position: absolute;
  top: 0;
  height: 100svh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10px 0 10px;
    h2 {
      text-align: center;
      font-family: 'os-light';
      margin-bottom: 15px;
    }
  }
}

.form-container {
  width: 350px;
  form {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
  .h-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0 15px 0;
    span {
      background-color: #171717;
      width: 30px;
      text-align: center;
      z-index: 1;
    }
  }
  .google-btn {
    img {
      height: 20px;
      margin-right: 10px;
      transform: translateY(4px);
    }
  }
}

.more-options {
  font-family: 'os-med';
  color: #888;
  margin-top: 20px;
  padding-left: 20px;
  .frgt-pw {
      &:hover {
        cursor: pointer;
        filter: brightness(1.5);
        text-decoration: underline;
      }
    }
  .signup {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    
    span {
      width: fit-content;
      &:last-child {
        color: #c2185b;
        &:hover {
        cursor: pointer;
        filter: brightness(1.5);
        text-decoration: underline;
        }
      }
    }
  }
}

@media (width < 350px) {
  .form-container {
    width: 100%;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}