<div *ngIf="message">

    <div style="display:flex; flex-direction: row; align-items: center; gap:1rem">
        <img src="{{ getUserProfile(message) }}" alt="profile picture">
        <mat-card-title>
            {{ getUserName(message.creatorId) }}
        </mat-card-title>
        {{ message.creationDate.toDate() | date : "EEE, dd. MMMM yy" }} at
        {{ message.creationDate.toDate() | date : "h:mm a" }}
    </div>
    <mat-card-content [innerHTML]="message.text">

    </mat-card-content>

</div>
