<div *ngIf="loadedMessage">

    <div style="display:flex; flex-direction: row; align-items: center; gap:1rem">
        <img src="{{ getUserProfile(loadedMessage) }}" alt="profile picture">
        <mat-card-title>
            {{ getUserName(loadedMessage.creatorId) }}
        </mat-card-title>
        {{ loadedMessage.creationDate.toDate() | date : "EEE, dd. MMMM yy" }} at
        {{ loadedMessage.creationDate.toDate() | date : "h:mm a" }}
    </div>
    <mat-card-content [innerHTML]="loadedMessage.text">
    
    </mat-card-content>

</div>