<div class="content-box">
    <div *ngFor="let textmessage of allThreadMessages">
      <mat-card>
        <div class="message-container">
          <img src="{{ getUserProfile(textmessage) }}" alt="profile picture">
          <mat-card-title>
            {{ getUserName(textmessage.creatorId) }}
          </mat-card-title>
          {{ textmessage.creationDate.toDate() | date : "EEE, dd. MMMM yy" }}
        </div>
        <mat-card-content [innerHTML]="textmessage.text" class="message-content"></mat-card-content>

        <!--
        <div class="editor-container">
          <quill-editor theme="snow" (onEditorChanged)="collectContent($event)" style="height: 120px;"
              [modules]="config" [placeholder]="placeholder">
          </quill-editor>
          <div class="message-bottom">
              <p class="hint">Send with command/ctrl & enter.</p>
              <button class="button-send" (click)="sendMessage()">
                  <mat-icon matTooltip="send">send</mat-icon>
              </button>
          </div>
        </div>
      -->
      </mat-card>
    </div>
</div>

<app-dialog-user></app-dialog-user>
