<div class="content-box">

  <div *ngFor="let thread of threads" [routerLink]="openThread(thread)" matTooltip="Show thread"
    matTooltipPosition="below">


    <div *ngFor="let textmessage of allThreadMessages">
      <div *ngIf="thread.messages.includes(textmessage.messageId)">

        <!-- Search function logic within ng-container. -->
        <mat-card *ngIf="searchResults.length === 0
          || textmessage.text.toLowerCase().includes(searchResults[0].toLowerCase())
          ">
          <div class="message-header">
            <img src="{{ getUserProfile(textmessage) }}" alt="profile picture">
            <mat-card-title>
              {{ getUserName(textmessage.creatorId) }}
            </mat-card-title>
            {{ textmessage.creationDate.toDate() | date : "EEE, dd. MMMM yy" }}
          </div>
          <mat-card-content [innerHTML]="textmessage.text" class="message-content"></mat-card-content>
          <p *ngIf="thread.messages.length > 1" class="message-content-replies">
            {{ thread.messages.length - 1 }} {{ thread.messages.length === 2 ? 'reply' : 'replies' }}
          </p>
        </mat-card>

      </div>
    </div>
    
  </div>


</div>