.content-box {
  box-sizing: border-box;
  position: relative;
  height: calc(100vh - 64px);
  overflow-y: auto;
}

mat-card {
  padding: 8px;
  margin: 8px;
  display: flex;
  border: 1px solid rgb(87, 87, 87);
  transition: transform 0.3s;
  cursor: pointer;

  &:hover {
    background-color: rgb(87, 87, 87, 0.9);
}
}

.mat-mdc-card-content:last-child {
  padding-bottom: 8px;
}

.message-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  img {
    height: 40px;
    width: 40px;
    border-radius: 4px;
  }
}

.message-content {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 54px;
}

.message-content-replies {
  margin-top: 16px;
  color: #2196F3;
  margin-bottom: 0px;
}



