<mat-drawer-container class="mat-drawer-container" autosize>
    <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
      <div class="logo-container">
        <img class="logo" src="/../assets/logo.svg" alt="logo">
      </div>
      <ul class="sidenav-list">
        <li routerLink="/dashboard"><mat-icon >fact_check</mat-icon>Dashboard</li>
        <li routerLink="/user"><mat-icon >perm_identity</mat-icon>User</li>
      </ul>
    </mat-drawer>
  
    <div class="example-sidenav-content">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <button mat-icon-button aria-label="Example icon button with a menu icon" (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span>Simple CRM</span>
        </mat-toolbar-row>
      </mat-toolbar>
  
    </div>
  
    <div class="router-container">

    </div>
  
  </mat-drawer-container>