<div class="container">
  <div class="header">
    <div class="added-partners">
      <span>Send to: </span>
      <div class="added-box">
        <div class="partner" *ngFor="let user of test">
          <span>Max Muster</span>
          <mat-icon width="5px">close</mat-icon>
        </div>
      </div>
    </div>
    <div class="toolbox">
      <input type="text" placeholder="search your chat partners">
      <button mat-raised-button color="primary">Create chat</button>
    </div>
  </div>
  <div class="user" *ngFor="let user of test">
    <div class="user-box">
      <div class="info-box">
        <div class="profileImg">
          <mat-icon>person</mat-icon>
        </div>
        <div class="user-infos">
          <div class="head">
            <span>Max Muster</span>
          </div>
          <div class="email">
            <div class="email-txt">
              max.muster@gmail.com
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
