a {
  color: #fff;
}

.container {
  width: 100%;
  height: 85vh;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 146px;
  gap: 8px;
  padding: 16px 16px;
  font-size: 20px;
  border-bottom: 1px solid rgb(87, 87, 87);
  .toolbox {
    display: flex;
    justify-content: space-between;
    input {
      width: 100%;
      max-width: 250px;
      padding-left: 16px;
      border: unset;
      border-radius: 6px;
      background-color: #fff1;
      color: #fff;
      outline: unset;
    }
  }
  .added-partners {
    span {
      font-size: 18px;
    }
    .added-box {
      display: flex;
      gap: 8px;
      flex-wrap: wrap;
      margin-top: 8px;
      span {
        font-size: 12px;
      }
      .partner {
        display: flex;
        align-items: center;
        background-color: #fff3;
        padding: 2px 8px;
        border-radius: 8px;
        mat-icon {
          font-size: 22px;
          cursor: pointer;
        }
      }
    }
  }
}

.user {
  display: flex;
  padding: 16px;
  &:hover {
    background-color: #252525;
    cursor: pointer;
  }
}

.user-box {
  display: flex;
  flex-direction: column;
  gap: 4px;
  .answers {
    padding-left: 66px;
    span {
      color: rgb(132, 185, 255);
      cursor: pointer;
      &:hover {
        text-decoration: underline;
        filter: brightness(1.2);
      }
    }
  }
}

.info-box {
  display: flex;
  align-items: center;
  gap: 16px;
  .profileImg {
    width: 50px;
    height: 50px;
    background-color: rgb(156, 50, 218);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .user-infos {
    display: flex;
    flex-direction: column;
    gap: 8px;
    .head {
      display: flex;
      align-items: baseline;
      gap: 12px;
      span {
        &:nth-child(1) {
          font-size: 16px;
        }
        &:nth-child(2) {
          color: #999;
          font-size: 12px;
        }
      }
    }
  }
}
