<div class="container">
  <div class="header">
    <div class="added-partners">
      <span>Send to: </span>
      <div class="added-box">
        <div class="added-partner">Max Muster</div>
      </div>
    </div>
    <div class="toolbox">
        <input type="text"/>
      <button mat-raised-button color="primary">Create chat</button>
    </div>
  </div>
  <div class="chat-window">
    <div class="chat-box">
      <div class="msg-box">
        <div class="profileImg">
          <mat-icon>person</mat-icon>
        </div>
        <div class="msg-infos">
          <div class="head">
            <span>Max Muster</span>
          </div>
          <div class="msg">
            <div class="msg-txt">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
