<div class="content-box">

    <div class="sticky-header">
        Thread # Placeholder
    </div>

    <div class="scroll-wrapper">

        <div>{{ sortMessagesByDate() }}</div>
        <!-- Every message is rendered here -->
        <div class="chat-container">
            <div *ngIf="messages != undefined && users != undefined">
                <div *ngFor="let message of messages">
                    <mat-card class="thread">
                        <div style="display:flex; flex-direction: row; align-items: center; gap:1rem">
                            <img src="{{ getUserProfile(message) }}" alt="profile picture">
                            <mat-card-title>
                                {{ getUserName(message.creatorId) }}
                            </mat-card-title>
                            {{ message.creationDate.toDate() | date : "EEE, dd. MMMM yy" }} at
                            {{ message.creationDate.toDate() | date : "h:mm a" }}
                        </div>
                        <mat-card-content [innerHTML]="message.text"></mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

    <div class="message-container">
        <quill-editor theme="snow" (onEditorChanged)="collectContent($event)" style="height: 150px;" [modules]="config"
            placeholder="Reply...">

        </quill-editor>
        <div class="message-bottom">
            <p class="hint">Send with command/ctrl & enter.</p>
            <button class="button-send" (click)="sendMessage()">
                <mat-icon matTooltip="send">send</mat-icon>
            </button>
        </div>
    </div>
</div>