<div class="title-container">
    <h1>Main Channel</h1>
    <div class="row">
        <div class="center blue">
            <mat-icon>edit_square</mat-icon>
            Add description
        </div>

        <div class="center blue">
            <mat-icon>person_add</mat-icon>
            Add people
        </div>
    </div>
</div>

<div class="chat-container">
    <mat-card>
        <mat-card-title>Adam</mat-card-title>
        <mat-card-content>Hi there!</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Eva</mat-card-title>
        <mat-card-content>Hello!</mat-card-content>
    </mat-card>
    <mat-card>
        <mat-card-title>Cartman</mat-card-title>
        <mat-card-content>lol...</mat-card-content>
    </mat-card>
</div>

<div class="message-container">

</div>