<div *ngIf="activeChannel" class="content-box">

    <div class="sticky-header">
        # {{ activeChannel.name }}

        <div *ngIf="getMembers()!.length == 1" class="hover" (click)="openViewPeopleDialog()">
            <img class="mini-profile" src="{{ getUserProfileAlt(0) }}" alt="small profile picture">
        </div>
        <div *ngIf="getMembers()!.length > 1 && getMembers()!.length < 4" class="align-profiles hover"
            (click)="openViewPeopleDialog()">
            <div *ngFor="let member of activeChannel.members; let i = index">
                <img class="mini-profile" src="{{ getUserProfileAlt(i) }}" alt="small profile picture">
            </div>
        </div>
        <div *ngIf="getMembers()!.length >= 4" class="align-profiles hover" (click)="openViewPeopleDialog()">
            <img class="mini-profile" src="{{ getUserProfileAlt(0) }}" alt="small profile picture">
            <img class="mini-profile" src="{{ getUserProfileAlt(1) }}" alt="small profile picture">
            <img class="mini-profile" src="{{ getUserProfileAlt(2) }}" alt="small profile picture">
            <p class="counter">+ {{ activeChannel.members.length - 3}}</p>
        </div>
    </div>

    <div class="scroll-wrapper">
        <div class="title-container">
            <h1>{{ activeChannel.name }}</h1>
            <!-- REFERENZEN ZU USER MUESSEN NOCH ANGEPASST WERDEN-->
            <h2>{{ getCreator() }} has created this Channel
                on the {{ activeChannel.creationDate.toDate() | date : "EEE, dd. MMMM yy" }} |
                {{ activeChannel.creationDate.toDate() | date : "h:mm a"}}. This is the start of the
                {{ activeChannel.name }} Channel.</h2>

            <p *ngIf="activeChannel.description != ''">Description: {{ activeChannel.description }}</p>


            <div class="row">
                <div class="center blue" (click)="openDescriptionDialog()">
                    <mat-icon>edit_square</mat-icon>
                    Add description
                </div>

                <div class="center blue" (click)="openAddPeopleDialog()">
                    <mat-icon>person_add</mat-icon>
                    Add people
                </div>
            </div>
        </div>

        <div>{{ sortMessagesByDate() }}</div>
        <!-- Every message is rendered here -->
        <div class="chat-container">

            <div *ngIf="messages != undefined">
                <ng-container *ngFor="let message of messages">
                  <!-- Search filter: specify below which elements to search. -->
                  <main *ngIf="searchResults.length === 0
                      || message.text.toLowerCase().includes(searchResults[0])
                      || message.creatorId.toLowerCase().includes(searchResults[0])
                  ">
                    <mat-card class="thread">

                        <mat-card class="overlay">
                            <div class="btn" [routerLink]="openThread(message)">
                                <mat-icon>reply</mat-icon>
                            </div>
                        </mat-card>

                        <div style="display:flex; flex-direction: row; align-items: center; gap:1rem">
                            <img src="{{ getUserProfile(message) }}" alt="profile picture">
                            <mat-card-title>
                                {{ getUserName(message.creatorId) }}
                            </mat-card-title>
                            {{ message.creationDate.toDate() | date : "EEE, dd. MMMM yy" }} at
                            {{ message.creationDate.toDate() | date : "h:mm a" }}
                        </div>
                        <mat-card-content [innerHTML]="message.text"></mat-card-content>
                        <div style="display:flex; flex-direction: row; align-items: center; gap:1rem">
                            <p *ngIf="countThreadMessages(message.messageId)! > 1">{{
                                countThreadMessages(message.messageId) }} replies</p>
                        </div>
                    </mat-card>
                  </main>
                </ng-container>
            </div>
        </div>
    </div>

    <div class="message-container">
        <quill-editor theme="snow" (onEditorChanged)="collectContent($event)" style="height: 150px;" [modules]="config"
            [placeholder]="placeholder">

        </quill-editor>
        <div class="message-bottom">
            <p class="hint">Send with command/ctrl & enter.</p>
            <button class="button-send" (click)="sendMessage()">
                <mat-icon matTooltip="send">send</mat-icon>
            </button>
        </div>
    </div>
