.content-box {
    box-sizing: border-box;
    position: relative;
    height: calc(100vh - 64px);
}

.sticky-header {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 8px 10px;
    height: 61px;
    background: #303030;
    border-bottom: 1px solid rgb(87, 87, 87);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .align-profiles {
        display: flex;
        align-items: center;
        text-align: center;
        gap: 0.1rem;
    }

    .counter {
        font-size: 1rem;
        margin: 0;
    }

    .mini-profile {
        display: flex;
        align-items: center;
        width: 32px;
        height: 32px;
    }
}

.scroll-wrapper {
    overflow-y: scroll;
    height: calc(100vh - 326px);

    ::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;

    .row {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

/**
* Title styles
**/
.title-container {
    box-sizing: border-box;
    position: relative;
    height: fit-content;
    border-bottom: 1px solid rgb(87, 87, 87);
    overflow: hidden;
    padding: 8px 10px;

    h2 {
        font-size: 1rem;
    }
}

.center {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.blue {
    color: #2196F3;
}

/**
* Chat styles
**/
.chat-container {
    box-sizing: border-box;
    position: relative;

    img {
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }

    mat-card {
        background-color: unset;
        box-shadow: unset;
        padding: 8px 10px;

        &:hover {
            background-color: #424242;
        }

        mat-card-title {
            font-size: 1rem;
            font-weight: 700;
        }

        mat-card-content {
            margin-left: 40px;
        }
    }
}

/**
* Message styles
**/
.message-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 1rem;
    background: #303030;
    border-top: 1px solid rgb(87, 87, 87);
    padding: 8px 10px;
    width: 100%;
    height: fit-content;

    .button-send {
        background-color: transparent;
        border: unset;
        color: white;
        margin-right: 0.5rem;
        cursor: pointer;
        z-index: 2;
    }

    .message-bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .hint {
            margin-left: 0.5rem;
            font-size: 10px;
            color: rgb(165, 165, 165);
        }
    }

}