.sticky-header {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 0.5rem;
    height: 3.5rem;
    background: #303030;
    border-bottom: 1px solid #ccc;
}

.scroll-wrapper {
    overflow-y: scroll;
    ::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;

    .row {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}

/**
* Title styles
**/
.title-container {
    box-sizing: border-box;
    position: relative;
    height: 200px;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    padding: 0.5rem;

    h2 {
        font-size: 1rem;
    }
}

.center {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

.blue {
    color: #2196F3;
}
/**
* Chat styles
**/
.chat-container {
    box-sizing: border-box;
    position: relative;
    height: calc(100vh - 475px);
    
    mat-card {
        background-color: unset;
        box-shadow: unset;

        &:hover {
            background-color: #424242;
        }

        mat-card-title {
            padding-left: 0.5rem;
            font-size: 1rem;
            font-weight: 700;
        }
    }
}

/**
* Message styles
**/
.message-container {
    box-sizing: border-box;
    position: relative;
    height: fit-content;
    background: #303030;

    .row {
        display: flex;
        flex-direction: row;
        overflow-y: hidden;
        ::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;
        scrollbar-width: none;

        .position-right {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
        }
    }

    button {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        width: 1rem;
        min-width: fit-content;
    }
}

.message-outline {
    box-sizing: border-box;
    height: 100%;
    border: 1px solid #ccc;

    input {
        font-size: 0.75rem;
    }
}


.resizable {
    box-sizing: border-box;
    resize: horizontal;
    overflow: auto;
    min-width: 350px;
    max-width: 800px;
    width: 500px;

    .vertical-resize-line {
        position: absolute;
        top: 0;
        right: 0;
        width: 5px;
        height: 100%;
        z-index: 2;
        
        &:hover {
            cursor: col-resize;
            background: #FFF;
        }
    }
}