.mat-toolbar-row, .mat-toolbar-single-row {
  justify-content: space-between;
  padding: 0;

  .toolbar-logo-container {
    display: flex;
    align-items: center;
  }
}

.profile-icon {
  width: 35px;
  height: 35px;
  border: 5.5px solid white;
  border-radius: 10px;
  cursor: pointer;
}

.toolbar-btn-container {
  display: flex;
  align-items: center;
}

.color-picker {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(87, 87, 87);
  padding-top: 8px;
}

.option-1-background {
  background: repeating-linear-gradient(
    180deg,
    #0f0f0f,
    #333435 10px,
    #0f0f0f 10px,
    #333435 20px
  );
  color: white;
}

.option-2-background {
  background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
  color: white;
}

.option-3-background {
  background: linear-gradient(
    90deg,
    rgba(100,37,136,1) 21%,
    rgba(23,4,91,1) 100%,
    rgba(23,4,91,1) 100%
  );
  color: white;
}
