.mat-toolbar.mat-primary {
  background: linear-gradient(90deg, rgba(100,37,136,1) 21%, rgba(23,4,91,1) 100%, rgba(23,4,91,1) 100%);
  /*background: linear-gradient(90deg, rgba(28,7,130,1) 24%, rgba(121,21,130,1) 100%);*/


  color: #fff;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  justify-content: space-between;

  .toolbar-logo-container {
    display: flex;
    align-items: center;
  }

  .toolbar-search-container {
  }
}

.mat-mdc-form-field {
  flex-direction: unset;
}
