<div class="toolbar-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>

      <div class="toolbar-logo-container">
        <button mat-icon-button aria-label="Example icon button with a menu icon">
          <mat-icon>swap_horiz</mat-icon>
        </button>
        <span>Not Slack</span>
      </div>

      <mat-form-field appearance="outline" class="toolbar-search-container" >
        <mat-label>Search Channel</mat-label>
        <input matInput>
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>

      <div class="toolbar-btn-container">
        <button mat-icon-button (click)="openDialogHelp()">
          <mat-icon>help</mat-icon>
        </button>
        <img [matMenuTriggerFor]="menu" #menuTrigger class="profile-icon" src="assets/img/profile.png">
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openDialogUser()">My Profile</button>
          <button mat-menu-item (click)="logoutUser()">Logout</button>
        </mat-menu>

      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
