<div class="toolbar-container">

  <mat-toolbar color="primary">

    <mat-toolbar-row>

      <div class="toolbar-logo-container">

        <button (click)="toggleSidenav()" mat-icon-button>
          <mat-icon>swap_horiz</mat-icon>
        </button>

      </div>

      <app-search (searchEvent)="onSearchText($event)"></app-search>

      <div>

        <button mat-icon-button (click)="openDialogHelp()">
          <mat-icon>help</mat-icon>
        </button>

        <button mat-icon-button [matMenuTriggerFor]="menu" #menuTrigger>
          <img src="assets/img/profile.png">
        </button>

        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="openUserProfile()">My Profile</button>
          <button mat-menu-item (click)="openDialogLegal()">Legal</button>
          <button mat-menu-item (click)="logoutUser()">Logout</button>
        </mat-menu>

      </div>

    </mat-toolbar-row>

  </mat-toolbar>

</div>