<mat-drawer-container class="example-container d-none">
  <mat-drawer mode="side" opened>
    <div class="server-name">
      <div class="profile">
        <span>Profile</span>
        <button
          class="new-msg-btn"
          mat-mini-fab
          (click)="openDialogUserEdit()">
          <mat-icon [ngStyle]="{ color: 'black' }">edit</mat-icon>
        </button>
      </div>
    </div>
    <div class="nav-scroll-container">
      <div class="navigation">
        <div
          class="nav-hl flex-ac">
          <p>Profile pic</p>
        </div>
        <div class="profile-pic-container">
          <img [src]="user.profile || 'assets/img/profile.png'">
        </div>
        <div class="nav-hl flex-ac">
          <p>Contact info</p>
        </div>
        <div class="nav-hl flex-ac">
          <mat-icon font-icon>verified_user</mat-icon>
          <p>Name</p>
          <ng-container *ngIf="user.fullName; else noFullName">Email: {{ user.fullName }}</ng-container>
          <ng-template #noFullName>Add your name</ng-template>
        </div>
        <div class="nav-hl flex-ac">
          <mat-icon font-icon>verified_user</mat-icon>
          <p>Alias</p>
          <ng-container *ngIf="user.displayName; else noDisplayName">Email: {{ user.displayName }}</ng-container>
          <ng-template #noDisplayName>Add a display name</ng-template>
        </div>
        <div class="nav-hl flex-ac">
          <mat-icon font-icon>email</mat-icon>
          <p>Email</p>
          <ng-container *ngIf="user.email; else noEmail">Email: {{ user.email }}</ng-container>
          <ng-template #noEmail>Add your email</ng-template>
        </div>
        <div class="nav-hl flex-ac">
          <mat-icon font-icon>phone</mat-icon>
          <p>Phone</p>
          <ng-container *ngIf="user.phone; else noPhone">Email: {{ user.phone }}</ng-container>
          <ng-template #noPhone>Add a phone number</ng-template>
        </div>
      </div>
    </div>
  </mat-drawer>
