<!-- Every message is rendered here -->
<div class="chat-container">
    <div *ngIf="channel">


        <div *ngFor="let thread of channelService.threads">
            <div *ngFor="let message of channelService.messages">
                <div *ngIf="thread.messages[0] === message.messageId">


                    <mat-card class="thread" [routerLink]="openThread(thread)">
                        <app-messages [message]="message" [users]="users"></app-messages>
                        <p *ngIf="thread.messages.length > 1">{{thread.messages.length - 1}} replie(s)</p>
                    </mat-card>

                </div>
            </div>
        </div>
    </div>

</div>