<!-- Every message is rendered here -->
<div class="chat-container">
    <div *ngIf="channel">


        <div *ngFor="let thread of channelService.threads">
            <div *ngFor="let message of channelService.messages">
                <div *ngIf="thread.messages[0] === message.messageId">


                    <mat-card matTooltip="Show thread" matTooltipPosition="below" class="thread" [routerLink]="openThread(thread)" *ngIf="searchResults.length === 0
                    || message.text.toLowerCase().includes(searchResults[0].toLowerCase())
                    || getUserName(message.creatorId)?.toLowerCase()!.includes(searchResults[0].toLowerCase())">

                        <app-messages [message]="message" [users]="users"></app-messages>
                        <p *ngIf="thread.messages.length > 1" class="message-content-replies">
                        {{ thread.messages.length - 1 }} {{ thread.messages.length === 2 ? 'reply' : 'replies' }}</p>
                        
                    </mat-card>

                </div>
            </div>
        </div>

    </div>

</div>