/**
* Chat styles
**/
.chat-container {
    box-sizing: border-box;
    position: relative;


    .thread {
        position: relative;
        background-color: unset;
        box-shadow: unset;
        padding: 8px 10px;
        cursor: pointer;

        &:hover {
            background-color: #424242;
        }

        &:hover .overlay {
            opacity: 1;
        }
    }
}

.message-content-replies {
    margin-top: 16px;
    color: #2196F3;
}