<div class="user-direct-msg-container">
  <div (click)="toggleDropdown()" class="direct-msg-hl flex-ac">
    <mat-icon [ngClass]="collapsed ? 'rotate90' : ''" style="transition: all 125ms ease-in-out"
      fontIcon="arrow_drop_down">
    </mat-icon>
    <span>Direct Messages</span>
  </div>

  <div *ngIf="!collapsed">
    <div *ngFor="let chat of chatService.allChats$ | async">

      <div *ngIf="chat['members'].includes(this.currentUserId)">
        <div class="user-direct-msg flex-ac" [routerLink]="['chat/' + chat['chatId']]" routerLinkActive="activeLink">
          <img src="{{ getChatUserImage(chat['members']) || '/../../assets/img/profile.png' }}" />
          <span>{{ setNameFirstUser(chat['members']) }}</span>
          <div class="extra-members" *ngIf="chat['members'].length > 2">
            +{{ chat['members'].length - 2 }}
          </div>
        </div>
      </div>

    </div>

    <div class="channelitem channel flex-ac" [routerLink]="'create-chat'">
      <mat-icon class="add-item" fontIcon="add"></mat-icon>
      <p>Create new chat</p>
    </div>
    <!--  -->
  </div>
</div>